<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Components</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Neuton:300,400,700" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/typography.css">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/colors.css">
  <link rel="stylesheet" href="css/navigation.css">
  <link rel="stylesheet" href="css/spacing.css">
  <link rel="stylesheet" href="css/buttons.css">
  <link rel="stylesheet" href="css/backgrounds.css">
  
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- Navigation
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
      	<div class="one-third column">
      		<ul class="navbar-logo">
      			<li class="navbar-item"><a href="#"><img src="images/wordmark.png" width="40%" height="auto" ></a></li>
      		</ul>
      	</div>
      	<div class="two-thirds column">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#codeNavPopover">US</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#examples">WORK</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#examples">CAREERS</a></li>
          <li class="navbar-item">
            <a class="navbar-link contact-box" href="#" data-popover="#moreNavPopover">CONTACT</a>
            <div id="moreNavPopover" class="popover">
              <ul class="popover-list">
                <li class="popover-item">
                  <a class="popover-link" href="#">Item 1</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      </div>
    </nav>

</head>

<body>
  
  <!-- Home Masthead
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="masthead-background" style="padding-top:5%;">
	<div class="container">
	    <div class="row space">
			<div class="center masthead-container">
				<img src="images/wordmark.png" width="500" height="auto">
				<h1 class="space">Brighton's SEO, PPC & Digital Marketing Agency</h1>
				<a class="button button-primary">work with us</a>
			</div>
	    </div>
	</div>
</div>

    <!-- Client logos list
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="grey-background">
	<div class="container">
	    <div class="row space">
			      <div class="two columns">
			      	<h6>Among our clients:</h6>
			      </div>
			      <div class="two columns">
			      	<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/09/act-logo.png" width="100%" height="auto">
			      </div>
			      <div class="two columns">
			     	 <img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/09/tutor-house-logo.png" width="100%" height="auto">
			      </div>
			      <div class="two columns">
			     	 <img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/09/eddie-stobart-logo.png" width="100%" height="auto">
			      </div>
			      <div class="two columns">
			     	 <img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/09/logo-no-cloud.png" width="100%" height="auto">
			      </div>
			      <div class="two columns">
			     	 <img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/09/sugar-shack-logo.png" width="100%" height="auto">
			      </div>
	    </div>
	</div>
</div>

    <!-- Parent Serivces List
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="white-background">
	<div class="container">
		<div class="row">
			<div class="two-thirds column">
				<h2>We love delivering amazing results for brilliant brands.</h2>
				<hr>
			</div>
			<div class="one-third column">
			
			</div>
		</div>
	    <div class="row space">
			<div class="one-half column ">
			    <p>We provide our clients with forward-thinking, ethical digital marketing services that empower their brands to deliver their message to their customers in the right place, at the right time.</p>

				<p>Whatever the campaign we're working on, our ultimate goal is to increase online visibility to a relevant audience via all digital channels and devices.</p>
				<p>In short, we help our clients acquire more happy, fulfilled customers online.</p>
			    <a style="color:white;" class="button button-primary" href="#">Read more</a>
			</div>
			<div class="one-half column center">
			    <img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/love.png" width="75%" height="auto">
			</div>
	    </div>
	</div>
</div>

    <!-- Parent Serivces List
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="grey-background">
	<div class="container">
		<div class="row">
			<div class="two-thirds column">
				<h2>Results driven digital marketing</h2>
				<hr>
			</div>
			<div class="one-third column">
			
			</div>
		</div>
	    <div class="row space">
			      <div class="one-third column ">
			      	<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/courage.png" width="100%" height="auto">
			        <h3>Search Marketing</h3>
			        <p>With our technical expertise and creative campaigns, we build powerful links and rank your website for the right keywords. It’s our job is to ensure your business is the first in line when your customers are in buying mode.</p>
			        <a style="color:white;" class="button button-primary" href="#">Read more</a>
			      </div>
			      <div class="one-third column ">
			      	<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/courage.png" width="100%" height="auto">
			        <h3>Content Marketing</h3>
			        <p>Powerful links, social media shares, online mentions and media coverage make a real difference for your rankings, traffic and sales. Content marketing propels your brand into the spotlight and get in front of a relevant audience.</p>
			        <a style="color:white;" class="button button-primary" href="#">Read more</a>
			      </div>
			      <div class="one-third column ">
			     	 <img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/courage.png" width="100%" height="auto">
			        <h3>Pay Per Click</h3>
			        <p>PPC is about only spending where your ad spend will be returned into a profitable return on investment. Pay Per Click advertising is a measurable and cost-effective way to reach new customers and drive conversions fast.</p>
			        <a style="color:white;" class="button button-primary" href="#">Read more</a>
			      </div>
	    </div>
	</div>
</div>

    <!-- Three Column Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="white-background">
<div class="container">
			<div class="row">
				<div class="two-thirds column">
					<h2>OUR SERVICES</h2>
					<hr>
				</div>
				<div class="one-third column">
				
				</div>
			</div>
    <div class="row space"> 
		      <div class="one-half column ">
		        <h3>Search Engine Marketing</h3>
		        <h4>Making your website more visible to Google</h4>
		        <p>SEO is about answering the questions that your audience are asking search engines about your business, your industry and what your business offers.</p>
		        <p>Find out everything your customers are asking and create well-optimised, easy to digest and authoritative content that answers these questions.</p>
		        <p>Promote these rich pages to influencers within your industry to gain brand awareness, powerful links and, therefore, trust that ultimately increases your search engine rankings.</p>
		        <a class="button button-primary" href="#">Read more</a>
		      </div>
		      <div class="one-half column ">
		      	<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/courage.png" width="100%" height="auto">
		      </div>
    </div>
    <div class="row space"> 
		<div class="one-half column ">
		    <img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/courage.png" width="100%" height="auto">
		</div>
		<div class="one-half column ">
			<h3>Pay Per Click</h3>
		    <h4>Helping your customers find you online.</h4>
		    <p>PPC is about only spending where your ad spend will be returned into a profitable return on investment. Pay Per Click advertising is a measurable and cost-effective way to reach new customers and drive conversions fast.</p>
		</div>
    </div>
        <div class="row space"> 
		    <div class="one-half column ">
		    	<h3>Digital PR and Content Marketing</h3>
		        <h4>Propelling your brand into the spotlight.</h4>
		        <p>Powerful links, social media shares, online mentions and media coverage can be a real difference-maker for your rankings, traffic and sales. We use creative content marketing to propel your brand into the spotlight and get in front of a relevant audience.</p>
		    </div>
		    <div class="one-half column ">
		      	<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/courage.png" width="100%" height="auto">
		    </div>
    </div>
</div>

    <!-- Recent projects List
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="white-background">
	<div class="container">
		<div class="row">
			<div class="two-thirds column">
				<h3>RECENT PROJECTS</h3>
				<hr>
			</div>
			<div class="one-third column">
			
			</div>
		</div>
	    <div class="row space">
			      <div class="three columns red-background-2">
			      		<h2>Hello</h2>
			      </div>
			      <div class="three">

			      </div>
			      <div class="three">

			      </div>
			      <div class="three">
			     	 
			      </div>
	    </div>
	</div>
</div>

    <!-- Values List
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="white-background">
	<div class="container">
		<div class="row space">
				<div class="two-thirds column">
					<h2>Do you share our values?</h2>
					<hr>
				</div>
				<div class="one-third column">
				
				</div>
			</div>
		<div class="row">
			<div class="two columns">
				<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/honesty1.png" width="100%" height="auto" >
			</div>
			<div class="four columns">
				<h5>Honesty above all else</h5>
				<p>Make your decisions with integrity and be transparent about everything you do.</p>
			</div>
			<div class="two columns">
				<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/courage.png" width="100%" height="auto" >
			</div>
			<div class="four columns">
				<h4>Always be courageous</h4>
				<p>Speak up when you have something to say and be willing to make difficult decisions.</p>
			</div>
		</div>
		<div class="row">
			<div class="two columns">
				<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/humble.png" width="100%" height="auto" >
			</div>
			<div class="four columns">
				<h4>Remain humble forver</h4>
				<p>Know that you can always improve your knowledge and learn from others.</p>
			</div>
			<div class="two columns">
				<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/curious.png" width="100%" height="auto" >
			</div>
			<div class="four columns">
				<h4>Keep your curiosity</h4>
				<p>Embrace change, learn from your experiences and remain curious.</p>
			</div>
		</div>
		<div class="row space">
			<div class="two columns">
				<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/love.png" width="100%" height="auto" >
			</div>
			<div class="four columns">
				<h4>Put learning first</h4>
				<p>Personal development, challenging yourself and acquiring knowledge is the key to a happy life.</p>
			</div>
			<div class="two columns">
				<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/generous1.png" width="100%" height="auto" >
			</div>
			<div class="four columns">
				<h4>Passion and grit</h4>
				<p>Passion and determination is the fuel that drives us and our company forward.</p>
			</div>
		</div>
	</div>
</div>

    <!-- Parent Serivces List
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="dark-background">
	<div class="container">
		<div class="row">
			<div class="two-thirds column">
				<h2>Results driven digital marketing</h2>
				<hr>
			</div>
			<div class="one-third column">
			
			</div>
		</div>
	    <div class="row space">
			      <div class="one-third column ">
			      	<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/courage.png" width="100%" height="auto">
			        <h3>Search Marketing</h3>
			        <p>With our technical expertise and creative campaigns, we build powerful links and rank your website for the right keywords. It’s our job is to ensure your business is the first in line when your customers are in buying mode.</p>
			        <a style="color:white;" class="button button-primary" href="#">Read more</a>
			      </div>
			      <div class="one-third column ">
			      	<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/courage.png" width="100%" height="auto">
			        <h3>Content Marketing</h3>
			        <p>Powerful links, social media shares, online mentions and media coverage make a real difference for your rankings, traffic and sales. Content marketing propels your brand into the spotlight and get in front of a relevant audience.</p>
			        <a style="color:white;" class="button button-primary" href="#">Read more</a>
			      </div>
			      <div class="one-third column ">
			     	 <img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/courage.png" width="100%" height="auto">
			        <h3>Pay Per Click</h3>
			        <p>PPC is about only spending where your ad spend will be returned into a profitable return on investment. Pay Per Click advertising is a measurable and cost-effective way to reach new customers and drive conversions fast.</p>
			        <a style="color:white;" class="button button-primary" href="#">Read more</a>
			      </div>
	    </div>
	</div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<footer>
	<div class="full-width-container">
		<div class="container">
			<div class="row space">
				<div class="one-third column">
					<img src="images/logo-light.png" width="50" height="auto">
					<h6><b>Seed Publicity Ltd.</b></h6>
					<p>We are a creative digital marketing, PPC and SEO agency based in Brighton and London, UK.</p>
					<p><b>Registered Company Number:</b> 9526599</p>
					<p><b>VISIT US</b><br>
					1st Floor Office,<br>
					5 Bartholomews,<br>
					Brighton,<br>
					BN1 1HG</p>
					<p><b>CONTACT US</b><br>
					<b>T:</b><a href="tel:01273286616"> +44 (0)1273 286 616</a><br>
					<b>E:</b><a href="mailto:hello@seedpublicity.co.uk"> hello@seedpublicity.co.uk</a></p>
				</div>
				<div class="one-third column">
						<h6>OUR SERVICES</h6>
						<hr>
						<ul style="list-style: none;">
							<li>Digital Marketing</li>
								<ul>
									<li>Search engine optimiation</li>
								</ul>
							<li><a>Search engine optimisation</a></li>
							<li><a>Pay per click advertising</a></li>
							<li><a>Conversion rate optimisation</a></li>
							<li><a>Content marketing</a></li>
							<li><a>Email marketing</a></li>
							<li><a>Public relations</a></li>
							<li><a>Mobile app SEO & marketing</a></li>
						</ul>
				</div>
					<div class="one-third column">
						<h6>LAST FOOTER COLUMN</h6>
					<hr>
					</div>
				</div>
			</div>

			<p class="center">All rights reserved. Seed Publicity Ltd. Copyright 2016.</p>

		</div>

	</div>

</footer>

</html>
