<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>CONTACT</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Neuton:300,400,700" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/typography.css">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/colors.css">
  <link rel="stylesheet" href="css/navigation.css">
  <link rel="stylesheet" href="css/spacing.css">
  <link rel="stylesheet" href="css/buttons.css">
  <link rel="stylesheet" href="css/backgrounds.css">
  <link rel="stylesheet" href="css/animation.css">

  <!-- JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css' rel='stylesheet' />
          
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- Navigation
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="navbar-spacer">
  	
  </div>
    <nav class="navbar">
      <div class="container">
      	<div style="margin-top:0.8rem;" class="one-third column">
      		<ul class="navbar-logo">
      			<li class="navbar-item"><a href="homepage-V2.html"><img src="images/wordmark.png" width="40%" height="auto" ></a></li>
      		</ul>
      	</div>
      	<div class="two-thirds column">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link nav-underline" href="us.html" data-popover="#codeNavPopover">US</a></li>
          <li class="navbar-item"><a class="navbar-link nav-underline" href="services.html">SERVICES</a></li>
          <li class="navbar-item"><a class="navbar-link nav-underline" href="results.html">RESULTS</a></li>
          <li class="navbar-item">
            <a class="navbar-link contact-box nav-underline" href="#" data-popover="#moreNavPopover">CONTACT</a>
            <div id="moreNavPopover" class="popover">
              <ul class="popover-list">
                <li class="popover-item">
                  <a class="popover-link" href="#">Item 1</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</head>

<body>

  
  <!-- Home Masthead
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id='map' style='width: 100%; height: 600px; z-index: -10;'>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoibmlja3N0dWFydG1pbGxlciIsImEiOiJjaXZreTUzbjgwMDVzMm9wNDI2am5vMTV3In0.gwYzmLqIhKWiOXB7irc-Bw';
var map = new mapboxgl.Map({
    container: 'map',
    center: [-0.139710, 50.821001],
    style: 'mapbox://styles/nickstuartmiller/civky6aaz00la2kpa0exvu7ar',
    zoom: (14.5),
    maxZoom: (14.5),
    minZoom: (14.5),
});
</script>
	<div class="container" style="padding-top: 30%;">
	    <div class="row space">
	    	<div style="color: white;" class="one-half column">
	    		<h2>5 Bartholomews, <b>Brighton</b>, BN1 1HG</h2>
	    	</div>
	    </div>
	</div>
</div>

    <!-- Big contact form
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="grey-background">
		<div class="container">
			<div class="row">
				<div class="tweleve columns space">
					<h2>Soooo ... have a campaign you’re interested in discussing with us?</h2>
					<div class="underline"></div>
					<h4>Give us a shout, we’d love to talk!</h4>
				</div>
			</div>
			<div class="row">
				<div class="one-half column space">
					<label for="exampleMessage"><h6>First Name</h6></label>
					<input class="u-full-width" type="email" placeholder="First Name" id="exampleEmailInput">
					<label for="exampleMessage"><h6>Email Address</h6></label>
					<input class="u-full-width" type="email" placeholder="Email Address" id="exampleEmailInput">
					<label for="exampleMessage"><h6>Project Details</h6></label>
					<textarea style="width: 100%;" placeholder="Please tell us more about your project including any benchmarks, targets and budget restraints." id="exampleMessage"></textarea>
					<a href="" class="button button-primary">Get started!</a>
				</div>
				<div class="one-half column">
					<label for="exampleMessage"><h6>Surname</h6></label>
					<input class="u-full-width" type="email" placeholder="Surname" id="exampleEmailInput">
					<label for="exampleMessage"><h6>Company</h6></label>
					<input class="u-full-width" type="email" placeholder="Company" id="exampleEmailInput">
				</div>
			</div>
		</div>
	</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<footer>
	<div class="dark-background">
		<div class="container">
			<div class="row space">
				<div class="one-third column">
					<a href="homepage-V2.html"><img src="images/wordmark.png" width="25%" height="auto" ></a>
					<div class="underline"></div>
					<p>We are a creative digital marketing, PPC and SEO agency based in Brighton and London, UK.</p>
					<p><b>Registered Company Number:</b> 9526599</p>
				</div>
				<div class="one-third column">
					<h6>ABOUT US</h6>
					<div class="underline"></div>
					<ul style="list-style:none;">
						<li><a>Search Marketing</a></li>
						<li><a>Paid Marketing</a></li>
						<li><a>Content Marketing</a></li>
					</ul>
				</div>
				<div class="one-third column">
					<h6>CONTACT US</h6>
					<div class="underline"></div>
					<p><b>T:</b><a href="tel:01273286616"> +44 (0)1273 286 616</a><br>
					<b>E:</b><a href="mailto:hello@seedpublicity.co.uk"> hello@seedpublicity.co.uk</a><br>
					5 Bartholomews, Brighton, BN1 1HG</p>
				</div>
			</div>
		</div>
	</div>
</footer>

</html>
