<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SEO</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Neuton:300,400,700" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/typography.css">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/colors.css">
  <link rel="stylesheet" href="css/navigation.css">
  <link rel="stylesheet" href="css/spacing.css">
  <link rel="stylesheet" href="css/buttons.css">
  <link rel="stylesheet" href="css/backgrounds.css">
  <link rel="stylesheet" href="css/animation.css">

  <!-- JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css' rel='stylesheet' />
          
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- Navigation
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="navbar-spacer">
  	
  </div>
    <nav class="navbar">
      <div class="container">
      	<div style="margin-top:0.8rem;" class="one-third column">
      		<ul class="navbar-logo">
      			<li class="navbar-item"><a href="homepage-V2.html"><img src="images/wordmark.png" width="40%" height="auto" ></a></li>
      		</ul>
      	</div>
      	<div class="two-thirds column">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link nav-underline" href="us.html" data-popover="#codeNavPopover">US</a></li>
          <li class="navbar-item"><a class="navbar-link nav-underline" href="services.html">SERVICES</a></li>
          <li class="navbar-item"><a class="navbar-link nav-underline" href="results.html">RESULTS</a></li>
          <li class="navbar-item">
            <a class="navbar-link contact-box nav-underline" href="#" data-popover="#moreNavPopover">CONTACT</a>
            <div id="moreNavPopover" class="popover">
              <ul class="popover-list">
                <li class="popover-item">
                  <a class="popover-link" href="#">Item 1</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</head>

<body>
  
  <!-- Home Masthead
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="forrest-background" style="padding-top:10%;">
	<div class="container">
	    <div class="row space">
			<div class="two-thirds column">
				<h1 class="space">We’re a Brighton-based SEO agency. Our mission is to grow brilliant brands online.</h1>
				<a class="button">work with us</a>
			</div>
			<div class="one-third column">
			</div>
	    </div>
	</div>
</div>

    <!-- SEO Process
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="new-background">
	<div class="container">
		<div class="row">
			<div class="tweleve columns middle center space">
				<h2 class="space">OUR SEO PROCESS</h2>
				<h4 class="space">SEO is a complex and ongoing process, but understanding how search engines work can put you ahead of the competition when growing your brand’s online visibility.</h4>
			</div>
			<div class="row space center">
				<div class="three columns">
					<img style="border-bottom-right-radius: 100%; border-bottom-left-radius: 100%;" src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/12/seo-process.png" width="100px" height="auto">
					<h4>Keyword Research</h4>
					<p>We identify top performing keywords to target for existing and new pages.</p>
				</div>
				<div class="three columns">
					<img style="border-bottom-right-radius: 100%; border-bottom-left-radius: 100%;" src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/12/technical-seo.png" width="100px" height="auto">
					<h4>Technical SEO</h4>
					<p>We identify and fix all technical issues with a full onsite SEO audit.</p>
				</div>
				<div class="three columns">
					<img style="border-bottom-right-radius: 100%; border-bottom-left-radius: 100%;" src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/12/seo-optimisation.png" width="100px" height="auto">
					<h4>Onsite Optimisation</h4>
					<p>We optimise all existing indexed pages with high-traffic and relevant keywords.</p>
				</div>
				<div class="three columns">
					<img style="border-bottom-right-radius: 100%; border-bottom-left-radius: 100%;" src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/12/content-marketing1.png" width="100px" height="auto">
					<h4>Earning Backlinks</h4>
					<p>We earn powerful backlinks by creating and promoting compelling content.</p>
				</div>
			</div>
	    </div>
	</div>
</div>

    <!-- Mission and vision
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="secondary-background">
	<div class="container">
		<div class="row space">
			<div class="two-thirds column">
				<h3>We are Search Marketing experts</h3>
				<div class="underline"></div>
			</div>
			<div class="one-third column">
				
			</div>
			<div class="row">
				<div class="one-half column">
					<h5>Our philosophy for quality SEO is simple...</h5>
					<p>Yes, to rank well within Google your website needs to be technically sound, it needs authoritative backlinks and regular, fresh content. But truly powerful SEO is about so much more...</p>
					<h5>Technical skill meets creativity</h5>
					<p>We balance our highly technical algorithmic knowledge of search engines with our ability to create fantastic content and engaging social media campaigns that propel our clients into the spotlight.</p>
					<h5>Keeping ahead of the competition</h5>
					<p>We explore the types of search queries your audience are asking Google, and help your brand to create well-optimised, easy-to-digest and authoritative content that answers those questions with your customers in mind.</p>
				</div>
				<div class="one-half column">
					<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/curious.png" width="80%" height="auto">
				</div>
			</div>
	    </div>
	</div>
</div>

    <!-- Parent Serivces List
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="grey-background">
	<div class="container">
		<div class="row space">
			<div class="two-thirds column">
				<h3>Our SEO process has been refined over years of delivering top-performing campaigns</h3>
				<div class="underline"></div>
			</div>
			<div class="one-third column">
			</div>
		</div>
			<div class="row space">
				<div class="two columns">
					<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/honesty1.png" width="100%" height="auto" >
				</div>
				<div class="four columns">
					<h4>Keyword research</h4>
					<p>We explore everything that your targeted customers are asking Google and create well-optimised, easy to digest and authoritative content that answers these questions.</p>
				</div>
				<div class="two columns">
					<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/courage.png" width="100%" height="auto" >
				</div>
				<div class="four columns">
					<h4>Technical SEO</h4>
					<p>We begin every project with a deep technical SEO audit. Technical SEO is a bit of an art, and we believe our technical SEO recipe is the best in town.</p>
				</div>
			</div>
			<div class="row space">
				<div class="two columns">
					<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/humble.png" width="100%" height="auto" >
				</div>
				<div class="four columns">
					<h4>Revitalising indexed pages</h4>
					<p>We turn good SEO content into great SEO content. Indexed pages offer an enormous amount of SEO value – it’s our job to make the most of them.</p>
				</div>
				<div class="two columns">
					<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/curious.png" width="100%" height="auto" >
				</div>
				<div class="four columns">
					<h4>Creating new pages</h4>
					<p>We create new pages and make sure that your website has the best chance of converting your visitors into a happy, fulfilled customer.</p>
				</div>
			</div>
			<div class="row space">
				<div class="two columns">
					<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/love.png" width="100%" height="auto" >
				</div>
				<div class="four columns">
					<h4>Localised SEO</h4>
					<p>Local SEO is focused on driving highly relevant customers to your website from targeted localised search queries that directly relate to your location.</p>
				</div>
				<div class="two columns">
					<img src="http://www.seedpublicity.co.uk/wp-content/uploads/2016/02/generous1.png" width="100%" height="auto" >
				</div>
				<div class="four columns">
					<h4>Link earning</h4>
					<p>Using content marketing, social media promotion and digital PR, we propel your brand into the spotlight and in-front of a relevant audience.</p>
				</div>
			</div>
		</div>
	</div>

    <!-- Small call to action
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="blue-background">
	<div class="container">
		<div class="row space">
			<div class="tweleve columns center">
				<h4 class="space">Have a campaign you’re interested in discussing with us?<br>Give us a shout, we’d love to talk!</h4>
				<a href="" class="button button-primary">Get started!</a>
			</div>
		</div>
	</div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<footer>
	<div class="dark-background">
		<div class="container">
			<div class="row space">
				<div class="one-third column">
					<a href="homepage-V2.html"><img src="images/wordmark.png" width="25%" height="auto" ></a>
					<div class="underline"></div>
					<p>We are a creative digital marketing, PPC and SEO agency based in Brighton and London, UK.</p>
					<p><b>Registered Company Number:</b> 9526599</p>
				</div>
				<div class="one-third column">
					<h6>ABOUT US</h6>
					<div class="underline"></div>
					<ul style="list-style:none;">
						<li><a>Search Marketing</a></li>
						<li><a>Paid Marketing</a></li>
						<li><a>Content Marketing</a></li>
					</ul>
				</div>
				<div class="one-third column">
					<h6>CONTACT US</h6>
					<div class="underline"></div>
					<p><b>T:</b><a href="tel:01273286616"> +44 (0)1273 286 616</a><br>
					<b>E:</b><a href="mailto:hello@seedpublicity.co.uk"> hello@seedpublicity.co.uk</a><br>
					5 Bartholomews, Brighton, BN1 1HG</p>
				</div>
			</div>
		</div>
	</div>
</footer>

</html>
