/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    background: #303A51;
    z-index: 99;
    border-top: 2px solid #303A52;
    border-bottom: 2px solid #303A52;
    position: fixed;
    opacity: 1;
}
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
    color: #f7fff7;
    float: right;
}

/* Mobile Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than phablet (also point when grid becomes active) */

@media (max-width: 550px) {

  .hide-mobile {
    display: none;

  }

  .navbar,
  .navbar-spacer {
    display: block;
    background-color: #303A51;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
  }

  .navbar-list { display: none;

  }

  .navbar-logo {
    width: 100%;
    margin-left: 4rem;
    margin-top: 2rem;
  }

}

.nav-up {
  top:-80px;
}

/* Navigation Elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  .navbar-logo ul { list-style: none; margin-bottom: 0rem;

  }

  .navbar-logo-item {
    position: relative;
    float: left;
    margin-bottom: 0;
    color: #f7fff7;
  }

  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
    color: #f7fff7;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
}
  .navbar-link {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #ffffff;
}

  .navbar-link:hover {
  color: #ffffff;
}

  .navbar-link:active { color: #d3d3d3;

  }

  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }

  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }

  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
       -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
  .popover-item:first-child .popover-link:after,
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .popover-item {
    padding: 0;
    margin: 0; }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0; }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; }
}

  .contact-box { border-style: solid; border-width: medium; border-radius: 4px; border-color: white;

}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #303A51;
  position: fixed;
  z-index: 500;
  width: 100%;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding-right: 4rem;
  padding-left: 17px;
  padding-top: 1rem;
  text-decoration: none;

}

ul.topnav li a:hover {

}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
    margin-top: 17px;
    margin-right: 17px;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: fixed;}
  ul.topnav.responsive li.icon {
    right: 0;
    top: 0;
    margin-top: 17px;
    position: fixed;
    margin-right: 17px;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.footer-list li, a, {
  margin-bottom: 0px;
  font-weight: 400;
  color: #34C84A;
}

/* Hamburger Menu */

.burger,
.burger:after,
.burger:before {
  width: 40px;
  height: 5px;
}

.burger {
  position: relative;
  transform: translateY(12px);
  background: #4ce0b3;
  transition: all 0ms 300ms;
}
.burger.animate {
  background: rgba(76, 224, 179, 0);
}

.burger:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 12px;
  background: #4ce0b3;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger:after {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  background: #4ce0b3;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  background: #fe4a49;
}

.burger.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  background: #fe4a49;
}
